@import 'variables';

body{
	color: $primary-color;	
}

.popular-sec{
	.card-title{
		font-size: 16px;
		line-height: 24px;		
	}
}

.heading-recipe{
	font-size: 20px;
	font-weight: 700;
	color: $primary-color;
	position: relative;
	margin-bottom: 30px;
	&:after{
		content: '';
		position:absolute;
		bottom: -10px;
		left: 0;
		width: 50px;
		height: 4px;
		border-radius: 15px;
		background: $highlight-color
	}
}

.navbar-cus{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px auto;
	a{
		display: inline-block;
		width: 70px;
		height: 70px;
		border-radius:50%;
		background:$highlight-color;
		color: $white;
		padding: 5px;
		margin: 0px 10px;
		text-decoration: none;
		font-size: 18px;
		text-align: center;
		box-shadow: 0 4px 3px rgba(0,0,0,.5);
		span{
			display: block;
			font-size: 12px;
			font-weight: 600;
		}
		&:hover{
			color: $white;
		}
		&.active{
			background:$black;
			color: $white;

		}
	}
}

.uppCase{
	text-transform: uppercase;
}

.input-grp{
	position:relative;
	width: 60%;
	margin: 30px auto;
	background:$black;
	border-radius:15px;
	padding:10px;
	svg{
		position:absolute;
		top: 16px;
		left: 12px;
		color: $highlight-color;
		font-size: 16px;
	}
	input{
		width: calc(100% - 30px);
		margin-left:30px;
		border:0;
		background:transparent;
		color: $white;
		font-size: 16px;
		outline: 0;
		&:focus{
			box-shadow:unset;
			border:0;
		}

	}
}

.recipe-img{
	img{
		border:1px solid #ddd;
		border-radius:5px;
		max-width:100%;
	}
}

.btn-comm{	
	padding:5px 15px;
	text-align: center;
	background:$white;
	border:1px solid $black;
	background:$white;
	color: $black;
	&.active{
		background:$black;
		color: $white;
		
	}
}

.recipe-info{
	margin-top: 20px;
	.btn-comm{
		margin: 0 5px;
	}
}

a{
	color: $black;
	&:hover{
		text-decoration: none;
		color: $highlight-color;
	}
	&:active{
		color: $highlight-color;
	}
	&:focus{
		color: $black
	}
}

.logo{
	font-size: 70px;
    color: #f24a72;
    text-align: center;
    display: block;
    margin: 0px auto;
}